<html>
  <head>
  </head>
  <body>
    <!-- templates -->
    <script id="person-template" type="text/template">
      <strong><%= name %></strong> (<%= age %>) <button class="delete">Delete</button>
    </script>

    <h1>People</h1>
    <form id="add-person" action="">
      <input type="text" placeholder="enter name">
      <input type="submit" value="Add Person">
    </form>
    <div class="people"></div>

    <!-- load scripts -->
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/underscore/underscore-min.js"></script>
    <script src="./bower_components/backbone/backbone-min.js"></script>
    <script src="app.js"></script>
    <script src="main.js"></script>
  </body>
</html>